
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1140px;
    margin: 0 auto;

}

/* nav style */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.5px solid rgba(254, 163, 1, 1);
    

}


.nav-img{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
    gap: 0.5em;
}

.nav-links{
    display: flex;
    gap: 2em;
    
}

.nav-item-1{
    list-style: none;
    font-weight: 700;
    font-size: 1.25em;
    color: rgba(254, 163, 1, 1);
    
}
.nav-item-2{
    list-style: none;
    font-weight: 700;
    font-size: 1.25em;
    color: rgba(1, 172, 253, 1);
    
}
.nav-item-3{
    list-style: none;
    font-weight: 700;
    font-size: 1.25em;
    color: rgba(5, 212, 223, 1);
}
.nav-item-4{
    list-style: none;
    font-weight: 700;
    font-size: 1.25em;
    color: rgba(93, 88, 239, 1)
}
.btn{
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
    background-color: rgba(254, 163, 1, 1);
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.nav-link{
    text-decoration: none;
}

/* hero style */
.hero{
    display: flex;
    gap: 50px;
    align-items: center;
}
.hero-h{
    font-weight: 700;
    font-size: 56px;
}
.Empoweringbr{
    color: orange;
}
.towards{
    color: rgba(1, 172, 253, 1);
}
.hero-p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 24px;
}
.hero-enroll{
    background-color: black;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 47px;
    border-radius: 12px;
    margin-top: 24px;

}
/* main heading style */

.main-h{
    display: flex;
    justify-content: center;
}
.main-h-m{
    font-weight: 700;
    font-size: 46px;
    margin: 60px auto;
}


/* footer style */
.footer{
    background-color: rgba(1, 172, 253, 1);
    height: 520px;
    
    
    
}

.f-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 13%;
    
}

/* footer left */
.f-img{
    display: flex;
    align-items: center;
}

.f-img-ico img {
    width: 82px;
    height: 81px;
}
.f-h{
    font-weight: 700;
    font-size: 32px;
    color: white;
}
.f-p{
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-top: 35px;
}

/* footer middle */

.f-m-h{
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-bottom: 26px;
}
.f-li{
    list-style: none;
    margin-bottom: 20px;
}
.f-all-li{
    font-weight: 500;
    font-size: 20px;
    color: white;
}

/* footer right */

.f-r-h{
    font-weight: 700;
    font-size: 26px;
    color: white;
}
.f-all-icon{
    display: flex;
    margin-top: 26px;
}



@media screen and (max-width:576px) and (min-width:992px) {
    .nav-container {
        
    }
}